.text-center{
	text-align: center;
}

.bg {
	background: #36454F;
}

.mx-auto{
	margin: auto;
}

.flex{
	display: flex;
}

.flex-col{
flex-direction: column;
}

.items-center{
	align-items: center;
}
